host: 10.9.7.1
password: yourpasswordhere

node:
    outside: outside
    inside: inside

influx:
    host: influx.example.com
    user: vent-automation
    pass: yourpasswordhere
    db: airsensors
    table: air

override:
    aboveTemp: 23
    difference: 2
